.mirror-site-modal>.button-container>a {
  width: 100%;

  text-align: left;
  >h2 {
    margin: 0 0 0.2em 0;
  }
  p {
    margin: 0;

    line-height: 1.4em;
  }
}

.mirror-hint {
  position: fixed;
  right: 0.4em;
  bottom: 0.4em;

  opacity: 0.6;
  color: var(--key);
  >span {
    cursor: pointer;
    text-decoration: underline;
  }
}
